<a href="https://colab.research.google.com/github/Joeaviator/PANDAS/blob/main/PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
import numpy as np
import pandas as pd

In [42]:
#Create the Data
weathere_data={
    "Days":["Monday", "Tuesday",None, "Wednesday", "Thursday", "Friday", "Saturday",None, "Sunday"],
    "Temp":[23,29,35,None, 29,20,13,32,None],
    "Description":["Pretty Cold",None, "Windy", "Hot Summer Day", "Chilly and Windy",None, "Very Cold", "Mild Snow", "Hot temperature"]
}
print(weathere_data)

{'Days': ['Monday', 'Tuesday', None, 'Wednesday', 'Thursday', 'Friday', 'Saturday', None, 'Sunday'], 'Temp': [23, 29, 35, None, 29, 20, 13, 32, None], 'Description': ['Pretty Cold', None, 'Windy', 'Hot Summer Day', 'Chilly and Windy', None, 'Very Cold', 'Mild Snow', 'Hot temperature']}

In [43]:
#Convert into a series
weathere_series=pd.Series(weathere_data)
weathere_series

Days           [Monday, Tuesday, None, Wednesday, Thursday, F...
Temp                    [23, 29, 35, None, 29, 20, 13, 32, None]
Description    [Pretty Cold, None, Windy, Hot Summer Day, Chi...
dtype: object

In [44]:
#Create a dataframe
df=pd.DataFrame(weathere_data)
df

        Days  Temp       Description
0     Monday  23.0       Pretty Cold
1    Tuesday  29.0              None
2       None  35.0             Windy
3  Wednesday   NaN    Hot Summer Day
4   Thursday  29.0  Chilly and Windy
5     Friday  20.0              None
6   Saturday  13.0         Very Cold
7       None  32.0         Mild Snow
8     Sunday   NaN   Hot temperature

In [45]:
#Sort the data by temperature
df_sorted=df.sort_values(by='Temp')
df_sorted

        Days  Temp       Description
6   Saturday  13.0         Very Cold
5     Friday  20.0              None
0     Monday  23.0       Pretty Cold
1    Tuesday  29.0              None
4   Thursday  29.0  Chilly and Windy
7       None  32.0         Mild Snow
2       None  35.0             Windy
3  Wednesday   NaN    Hot Summer Day
8     Sunday   NaN   Hot temperature

#Observations


*   The hottest day is Wednesday with an temperature of 35℃ with a description  of "Hot Summer Day"
*   The coldest day was Saturday with a temperature of 13℃ with a description of Mild Snow

In [51]:
#Data Overview
df.tail()

       Days  Temp       Description
4  Thursday  29.0  Chilly and Windy
5    Friday  20.0           Unknown
6  Saturday  13.0         Very Cold
7   Unknown  32.0         Mild Snow
8    Sunday   0.0   Hot temperature

In [47]:
#Dataset Information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Days         7 non-null      object
 1   Temp         7 non-null      float64
 2   Description  7 non-null      object
dtypes: float64(1), object(2)
memory usage: 348.0+ bytes

In [48]:
#Check for null values
df.isnull().sum()

Days           2
Temp           2
Description    2
dtype: int64

In [49]:
#Drop the null values
#df.dropna(inplace=True)

In [50]:
#Replace null values with a value
df['Temp']=df['Temp'].fillna(0)
df['Days']=df['Days'].fillna("Unknown")
df['Description']=df['Description'].fillna("Unknown")